<h1>Landing Page</h1>
<hr>
<% if current_user %>
	<p>Hello, <strong><%= current_user.email %></strong>. You are currently logged in. <%= link_to "Log out", logout_path %></p>
<% else %>
	<p>
		<!-- refactored with rails helpers: -->
		<%= link_to "Sign Up", signup_path, class: "btn btn-warning" %>
		&nbsp; or &nbsp;
		<%= link_to "Log In", login_path, class: "btn btn-warning" %>
	</p>
<% end %>